body{
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-image: url("forest.jpg");
    background-attachment: fixed;}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 40px;
    width: auto;
}

#headbanner{
    width: 60%;
    height: auto;
    margin-top: 10px;
	margin-left: 20%;
    margin-right: 20%;
	margin-bottom: 10px;
}

section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14pt;
    width: 60%;
    margin-top: 120pt;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: rgba(255,255,255,0.75)    
}

#main h3{
    color: red;
}
footer{
    width: 60%;
    height: auto;
    margin-top: auto;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: #B64C0D;
}

footer .brand {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    
}

footer .container {
    padding-left: 12%; 
    padding-right: 12%;
}
footer h4{

    color: white;
}

footer h3 {

    color: white;
}

header ul {
    width: 50%;
    list-style-type: none;
    margin: auto;
    overflow: hidden;
    background-color: brown;
    text-align:center;
    padding-left:0
}

header li {
    align-content: center;
    display: inline-block;
    padding: 0 1rem;
}

header li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 14px 16px;
    text-decoration: none;
}

header li a:hover, .myDropdown:hover .dropbtn {
    background-color: red;
}

header li.myDropdown {
    display: inline-block;
}

header .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

header .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

header .dropdown-content a:hover {background-color: darkred}

header .show {display:block;}

/* 
#indexpic {
    margin-left: 23%;
    margin-right: 23%;
}
*/

#result{
    font-size: 14pt;
}